
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/UserList/index.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/layui/layui.js"></script>

</head>

<body>
    <div id="list">
        <div class="layui-inline">
            <input class="layui-input" name="condition" id="searchCondition" autocomplete="off">
        </div>
        <button onclick="search()" type="button" class="layui-btn">搜索</button>
        <table class="layui-hide" id="user"></table>
    </div>
    <!-- 特殊列模版 -->
    <script type="text/html" id="btn">
        <button onclick="btnAct('edit',{{d.ID}})" type="button" class="layui-btn layui-btn-xs">编辑</button>
        <button onclick="btnAct('del',{{d.ID}})" type="button"
                class="layui-btn layui-btn-danger layui-btn-xs">
            删除
        </button>
    </script>
    <script type="text/javascript" src="~/Content/UserList/index.js"></script>
    <script>
        function search() {
            var searchCondition = $('#searchCondition').val();
            $.ajax({
                url: "/Home/GetUserList",
                data: {
                    keyWord: searchCondition
                },
                success: function (res) {
                    var data = JSON.parse(res);
                    // 获取到 data
                    table.reload('user', {
                        data: data
                    }, true)
                }
            });
        }
    </script>
</body>

</html>


